---
- name: Install dependencies {{ ansible_os_family }}
  yum:
    name: '{{ item }}'
    state: installed
    update_cache: yes
  become: true
  with_items:
    - gcc-c++
    - ImageMagick
    - postgresql-devel
