{{ deploy_user }} ALL=NOPASSWD:/bin/rm /etc/nginx/sites-enabled/default
{{ deploy_user }} ALL=NOPASSWD:/bin/ln -nfs {{ deploy_path }}/* /etc/nginx/conf.d/*
{{ deploy_user }} ALL=NOPASSWD:/bin/ln -nfs {{ deploy_path }}/* /etc/nginx/sites-enabled/*
{{ deploy_user }} ALL=NOPASSWD:/bin/ln -nfs {{ deploy_path }}/* /etc/init.d/*
{{ deploy_user }} ALL=NOPASSWD:/bin/ln -nfs {{ deploy_path }}/* /etc/logrotate.d/*
{{ deploy_user }} ALL=NOPASSWD:/bin/ln -nfs {{ deploy_path }}/* /usr/local/bin/
{{ deploy_user }} ALL=NOPASSWD:/bin/mv {{ deploy_path }}/* /etc/nginx/conf.d/*
{{ deploy_user }} ALL=NOPASSWD:/bin/mv {{ deploy_path }}/* /etc/nginx/sites-enabled/*
{{ deploy_user }} ALL=NOPASSWD:/bin/mv {{ deploy_path }}/* /etc/init.d/*
{{ deploy_user }} ALL=NOPASSWD:/bin/mv {{ deploy_path }}/* /etc/logrotate.d/*
{{ deploy_user }} ALL=NOPASSWD:/bin/mv {{ deploy_path }}/* /usr/local/bin/run_puma_{{ app_name}}_{{ app_env }}
{{ deploy_user }} ALL=NOPASSWD:/etc/init.d/nginx *
{{ deploy_user }} ALL=NOPASSWD:/usr/sbin/service nginx *
{{ deploy_user }} ALL=NOPASSWD:/etc/init.d/puma_{{ app_name }}_{{ app_env }} *
{{ deploy_user }} ALL=NOPASSWD:/usr/sbin/service puma_{{ app_name }}_{{ app_env }} *
